// Specific CSS for your home-page
.home-center {
  text-align: center;
}

.blue-background {
  background-color: #3BABAB;
  border-color: #3BABAB;
  opacity: 0.7;
  color: white;
 &:hover {
    background-color: #3BABAB;
    border-color: #3BABAB;
    opacity: 1;
    cursor: pointer;
    color: white;
  }
}

.gros-buzzer {
  margin-top: 70px;
  background-color: #3BABAB;
  border: 1px solid #3BABAB;
  color: white;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  opacity: 0.7;
  &:hover {
    background-color: #3BABAB;
    border-color: #3BABAB;
    opacity: 1;
    cursor: pointer;
    color: white;
  }
}
