// Specific CSS for your home-page
.home-center {
  text-align: center;
}

.blue-background {
  background-color: #3BABAB;
  border-color: #3BABAB;
  opacity: 0.7;
  color: white;
 &:hover {
    background-color: #3BABAB;
    border-color: #3BABAB;
    opacity: 1;
    cursor: pointer;
    color: white;
  }
}

#blue-game-pin {
  background-color: white;
  color: #3BABAB;
  padding-bottom: 10px;
}

.box-pin {
  border-bottom: 1px solid #DEE2E6;
}

#game > div > img {
  width: 200px;
}

.gros-buzzer {
  margin-top: 70px;
  background-color: #3BABAB;
  border: 1px solid #3BABAB;
  color: white;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  opacity: 0.7;
  &:hover {
    background-color: #3BABAB;
    border-color: #3BABAB;
    opacity: 1;
    cursor: pointer;
    color: white;
  }
}
