<% @searched_spotify_playlists.each do |playlist| %>
<h2 style="color: white"><%= playlist.name%></h2>
<h2 style="color: white"><%= playlist.id%></h2>
<h2 style="color: white"><%= playlist.images.first["url"]%></h2>
<% end  %>
