<div class="master-control-area">

  <div class="play">
    <button class="mdc-icon-button">
      <i id="play" class="material-icons mdc-icon-button__icon">play_arrow</i>
    </button>
  </div>

  <div class="middle-bar"></div>

  <div class="next">
  <button class="mdc-icon-button">
    <i id="next" class="material-icons mdc-icon-button__icon">fast_forward</i>
  </button>
  </div>


  <div class="good-answer">
    <button  class="mdc-icon-button">
      <i id="answer" class="material-icons mdc-icon-button__icon">done_outline</i>
    </button>
  </div>

</div>
