<div class="navbar-abt">
  <%= cl_image_tag("AperoBlindTest/HD-blue_muhg5o", crop: :scale, class: "blind-test") %>
  <div><img src="<%= @game.user.avatar %>" class="avatar-large" alt=""></div>
</div>
