<div class="navbar-abt">
  <%= cl_image_tag("AperoBlindTest/white-bt_n9py56", crop: :fill, class: "blind-test") %>
  <%= cl_image_tag("AperoBlindTest/white-hp_jzffmp", crop: :fill, class: "blind-test") %>
</div>
