<div class="bottom hidden animate__animated" id="downhome">

  <%= simple_form_for :player, url: players_path, defaults: {label: false} do |f| %>
    <%= f.input :game_pin_entered, placeholder:'Game pin' %>



    <%= f.input :user_name, placeholder:'Username' %>
  <div class="submit-adjust">
    <%= f.submit "JOIN A GAME !", class: "btn btn-primary"%>
  </div>

  <% end %>

</div>
