<div class="user-home d-flex flex-column border-top">
  <p class="py-3">If you are the gamemaster please</p>
  <p>
    <%= link_to "create a new game", omniauth_authorize_path(:user, :spotify), class:"btn btn-primary blue-background" %>
  </p>
</div>
