<div class="top animate__animated">

  <h2>If you are the GAME MASTER:</h2>

  <p>
    <%= link_to "CREATE A GAME !", omniauth_authorize_path(:user, :spotify), class:"btn btn-primary blue-background" %>
  </p>

</div>
