<div id="logo-and-name" class="animate__animated" style="background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.0)), url('<%= cl_image_path("AperoBlindTest/on-dark-logo-and-name_zoiyp5", :crop => :lpad) %>')">

</div>


<div id="enter" class="hidden animate__animated hidden">
  <%= render 'shared/navbar_abt' %>
  <%= render 'shared/user_management' %>
  <%= render 'shared/player_management' %>
</div>

</div>
