<!DOCTYPE html>
<html>
<head>
  <title>Spotify Web Playback SDK Quick Start Tutorial</title>
</head>
<body>
  <h1>TEST</h1>
 <iframe src="https://open.spotify.com/embed?uri=spotify:playlist:1KGdyl3UgwzO6wG1Ivksnp" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>


</body>
</html>
