<div class="container p-3 d-flex flex-column">
  <%#= cl_image_tag("AperoBlindTest/headphones-g_uvt1g2") %>

  <h2>Welcome to Apero BlindTest</h2>
  <%= render 'shared/user_management' %>
  <%= render 'shared/player_management' %>
</div>


<%#= render 'shared/navbar' %>

<%#= render 'shared/home' %>

<%#= render 'shared/counter-ten-seconds' %>

<%#= render 'shared/control-game-master' %>
