<div class="iphone-xs" style="background-color: #D2D2D2">

<%= render 'shared/navbar_abt_user' %>



<h2>
  <%= @game.answers.last.player.user_name %> is playing
</h2>
<div id="countdown" style="font-size: 60px">
</div>

</div>
