# Show du gamemaster
Image de la track en cours
Title et artist
button validation (artist + title) vert => playing next_song
button faux rouge => playing current_song
Bar de progression
Buzzer name
Buzzer countdown
Start - pause (disabled) - next - stop


# Show du buzzer player
Buzzer (disabled)
Your answer in "countdown"

# Show des autres players
Buzzer (disabled)
The answer of buzzer.name in "countdown"

<script type="text/javascript">

const countDown = (tps) => {
  if (tps>0) {
    var heure = Math.floor(tps/3600);
    if(heure >= 24) {
      var jour = Math.floor(heure/24);
      var moins = 86400*jour;
      var heure = heure-(24*jour);
    }
    else {
      var jour = 0;
      var moins = 0;
    }
    moins = moins+3600*heure;
    var minutes = Math.floor((tps-moins)/60);
    moins = moins + 60*minutes;
    var secondes = tps-moins;
    minutes = ((minutes < 10) ? "0" : "") + minutes;
    secondes = ((secondes < 10) ? "0" : "") + secondes;
    document.getElementById("countdown").innerHTML = 'Time left : '+secondes;
    var restant = tps-1;
    setTimeout("countDown("+restant+")", 1000);
  }
  else {
    document.getElementById("countdown").innerHTML = 'Time left over 🥺';
  }
};
</script>

<script type="text/javascript">
<div id="countdown" style="font-size: 60px">countDown(10);</div>
</script>
</div>
