<div class="container" id="ended">
  Score of all players
  <% @game.players.each do |player| %>
  <div class="playerscore">
    <p><%= player.user_name %>-<%= player.score %></p>
  </div>
  <% end %>
</div>
