<% if current_user == @game.user %>
  # Show du gamemaster
  Image de la track en cours
  button title
  button title
  Bar de progression
  Buzzer name
  Buzzer countdown
  Start - pause (disabled) - next - stop

  <%= simple_form_for @game, method: "PATCH" do |f|%>
    <%= f.hidden_field :state, value:"playing", type:"hidden" %>
    <%= f.submit "Start again" %>
  <% end %>

<% elsif current_user.nil? || current_user != @game.user %>

  # Show des players
  <p>Buzzer (displayed) </p>
  <p>Mon score: <%= @current_player.score %></p>
  <p>Score en modal (pop up)</p>

<% end %>
