<div class="iphone-xs" style="background-color: #1E2023">

  <%= render 'shared/navbar_abt' %>

  <div id="pending-player">

    <h1>BE THE BEST!</h1>

    <span><h2>Your gamemaster</h2></span>

    <div class="display-user-players">
      <img src="<%= @game.user.avatar %>" class="avatar-large" alt="">
      <h2 id="game-user">
        <%= @game.user.user_name %> is the gamemaster
      </h2>
    </div>

    <span><h2>Your opponents</h2></span>

    <div class="cartouche">
      <div>
            <div class="cartouche-song">
              <% @game.players.each do |player| %>
                <h2 id="pendingplayers" class="animate__animated"><%= player.user_name %> is ready to play</h2>
              <% end %>
            </div>
      </div>
    </div>

    <div>
      <h4>BE THE BEST!</h4>
    </div>

</div>


