# Show du gamemaster
<p>Image de la track en cours</p>
<p>button title (disabled)</p>
<p>button title (disabled)</p>
<p>Bar de progression</p>
<p>Start - pause - next - stop</p>
<p>Score en modal (pop up)</p>

<%= simple_form_for @game, method: "PATCH" do |f|%>
  <%= f.hidden_field :state, value:"paused", type:"hidden" %>
  <%= f.submit "Pause the game" %>
<% end %>

# Show du player
<p>Buzzer</p>
<p>Score du player</p>
<p>Score en modal (pop up)</p>
