<%= simple_form_for [ @game, @answer ], defaults: {label: false} do |f| %>
  <%= f.submit "Buzz !", class: "buzz"%>
<% end %>

<!-- <p>Mon score: <%#= @current_player.score %></p> -->
<p>Score en modal (pop up)</p>
