<%= simple_form_for [ @game, @answer ], defaults: {label: false} do |f| %>
  <%= f.submit "Buzz !", class: "buzz gros-buzzer"%>
<% end %>

<!-- <p>Mon score: <%#= @current_player.score %></p> -->



<button id="click-modal">
    <i class="fas fa-star"></i>
</button>


<div id="modal-scores" class="hidden">
  <div class="container">
    <span class="close">&times;</span>
    <div class="score-recap">
      <h3 style="text-align: center"><strong>🏆 SCORE RECAP 🏆<strong></h3>
      <p>
        <% @game.players.each do |player| %>
        <li><%= player.user_name %> : <%= player.score %></li>
        <% end %>
      </p>
    </div>
  </div>
</div>
