<div id="waiting-for-next-song" data-player-id="<%= @game.answers.last.player.id %>" data-game-id="<%= @game.id %>">
  <h1 style="color:white;">
    BRAVO LAST PLAYER ANSWER
    READY FOR NEXT SONG...
    3, 2, 1
    IGNITION 🚀
  </h1>
</div>
