.display-center {
  margin-top: 59px;
  font-family: "Nunito";
}

#buzzer-user #countdown  {
  //filter: contrast(2);
  border-radius: 50%;
  height: 9.85vh;
  width: 9.85vh;
  border: 1px solid $grey-dark;
  box-shadow: #D2D2D2;
  text-align: center;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7.39vh;
}

#buzzer-area {
  width: 46.18vh;
  height: 18.47vh;
  position: absolute;
  top: 27.70vh;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  //opacity: 0.9;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px $grey-dark solid;
  border-bottom: 1px $grey-dark solid;

  .playing {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  h1 {
    color: white;
    font-weight: 400;
    font-size: 32px;
    margin: 5px;
  }

  h3 {
    color: $grey-medium;
    font-weight: 400;
    font-size: 2.21vh;
    margin: 0px;
  }

  p {
    color: $grey-user;
    font-weight: 400;
    font-size: 2.21vhpx;
    text-align: left;
    margin: 0px 0px 0px 5px;
    padding: 0px;
  }
}


.playing {
  font-family: "Nunito";
  color: #030303;
  text-align: center;
}

.rond-noir {
  background-color: black;
  border-radius: 50%;
  width: 42.49vh;
  height: 42.49vh;
  margin-left: 6px;
  margin-top: 5px;
}



.display-gif-timer {
  border-radius: 50%;
  position: absolute;
  top: 46.79vh;
  opacity: 100%;
  height: 36.94vh;
  width: 36.94vh;
  border: 2px white solid;
  animation-iteration-count: 10;
  text-align: center;
  align-items: center;
  justify-content: center;
  #countdown {
  font-size: 22vh;
  color: white;
  height: 36.94vh;
  width: 36.94vh;
  margin-top: 2vh;
}
}

