.master-control-area {
  height: 425px;
  width: $controle-size;
  //border-radius: 50%;
  //background-color: white;
  //border: 4px $spotify-green solid;
  position: absolute;
  top: 385px;
  opacity: 100%;
  .play {
    height: $controle-size/2;
    width: $controle-size/2;
    border-top-left-radius: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    //background-color: white;
    opacity: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
      .material-icons {
        font-size: 100px;
        color: $grey-user;
        margin: 0px;
        padding: 0px;
        position: absolute;
        top: 40px;
        right: 20px;
      }
      h3 {
        position: absolute;
        bottom: 10px;
        right: 20px;
        font-weight: 400;
        right: 35px;
        color: $grey-user;
      }
  }
  .next {
    height: $controle-size/2;
    width: $controle-size/2;
    border-top-right-radius: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    //background-color: white;
    opacity: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
      .material-icons {
        font-size: 100px;
        color: $grey-user;
        margin: 0px;
        padding: 0px;
        position: absolute;
        top: 40px;
        left: 20px;
    }
      h3 {
        position: absolute;
        bottom: 10px;
        right: 20px;
        font-weight: 400;
        left: 35px;
        color: $grey-user;
      }
  }


  .middle-bar {
    height: 0px;
    width: $controle-size;
    border: 1px white solid;
    position: absolute;
    top: $controle-size/2;
    left: 0px;
    opacity: 10%;
  }
  .good-answer {
    height: $controle-size/2;
    width: $controle-size;
    // border-top: 1px white solid;
    //border-bottom-right-radius: 50%;
    //border-bottom-left-radius: 50%;
    position: absolute;
    top: $controle-size/2;
    right: 0px;
    //background-color: white;
    opacity: 80%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    .material-icons {
      font-size: 100px;
      color: $grey-light;
      margin: 0px;
      padding: 0px;
      position: absolute;
      top: 50px;
    }
    h3 {
      position: absolute;
      top: 35px;
      font-weight: 700;
      // right: 35px;
      color: white;
    }
  }

  .endgame {
    height: 150px;
    width: 375px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    opacity: 80%;
    .material-icons {
      font-size: 70px;
      color: $grey-user;
      margin: 0px;
      padding: 0px;
      position: absolute;
      top: 39px;
      right: 17px;

    }
    h3 {
      position: absolute;
      bottom: 0px;
      right: 5px;
      font-weight: 400;
      right: 4px;
      color: $grey-user;
      margin: 0px;
      padding: 0px;
    }
  }
}
