.iphone-xs {
  margin: 0px auto;
  width: 375px;
  height: 812px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position : relative;
  h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 32px;
    color: white;
    font-weight: bolder;
    margin-bottom: 20px;
  }
  .logo-bottom-left {
    position: absolute;
    bottom: 10px;
    left: 0px;
    width: 114px;
    //height: 71px;
  }
}

#top-choose {
  width: 360px;
  position: absolute;
  height: 92vh;
  top: 60px;
  padding: 5px;
  text-align: center;

  h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    font-weight: bolder;
    color: white;
    margin: 0px;
  }

  p {
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    color: black;
    margin-bottom: 5px;
    font-weight: bolder;
    padding: 5px;
  }
  .material-icons {
    color: white;
    font-size: 48px;
    margin-right: 10px;
  }
}

#bottom-choose {
  width: 360px;
  position: absolute;
  bottom: 8px;
  padding: 5px;
  text-align: center;

  h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    font-weight: bolder;
    color: white;
    //margin-bottom: 20px;

  }

  h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: bolder;
    color: $grey-light;
    //margin-bottom: 20px;

  }

  p {
    font-family: 'Nunito', sans-serif;
    font-size: 8px;
    color: black;
    margin-bottom: 5px;
    font-weight: bolder;
  }

  .material-icons {
    color: white;
    font-size: 48px;
  }

  .btn-light {
      padding: 10px;
      margin: 10px;
      border-radius: 20px;
      background-color: $grey-light;
      border: 5px white solid;
      opacity: 100%;
    }
    input {
      font-family: 'Nunito', sans-serif;
      font-size: 16px;
      margin-bottom: 5px;
      color: black;
      font-weight: bold;
      //margin: 20px;
    }
}

.cartouche {
  display: flex;
  align-items: center;
  justify-content: center;
}

#choose-bar .material-icons {
  color: $grey-light;
  font-size: 24px;
  margin: 0px;
}

.cartouche-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}


