.remote-controller {
  height: 7.20vh
}

.master-control-area {
  height: 52.33vh;
  width: 43.96vh;
  //border-radius: 50%;
  //background-color: white;
  //border: 4px $spotify-green solid;
  position: absolute;
  top: 47.41vh;
  opacity: 100%;


  .play {
    height: 21.98vh;
    width: 21.98vh;
    border-top-left-radius: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    //background-color: white;
    opacity: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
      .material-icons {
        font-size: 12.31vh;
        color: $grey-user;
        margin: 0px;
        padding: 0px;
        position: absolute;
        top: 4.92vh;
        right: 2.46vh;
      }
      h3 {
        position: absolute;
        bottom: 1.23vh;
        right: 2.46vh;
        font-weight: 400;
        right: 4.31vh;
        color: $grey-user;
      }
  }
  .next {
    height: 21.98vh;
    width: 21.98vh;
    border-top-right-radius: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    //background-color: white;
    opacity: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
      .material-icons {
        font-size: 12.31vh;
        color: $grey-user;
        margin: 0px;
        padding: 0px;
        position: absolute;
        top: 4.92vh;
        left: 2.46vh;
    }
      h3 {
        position: absolute;
        bottom: 1.23vh;
        right: 2.46vh;
        font-weight: 400;
        left: 4.31vh;
        color: $grey-user;
      }
  }


  .middle-bar {
    height: 0px;
    width: $controle-size;
    border: 1px white solid;
    position: absolute;
    top: 43.96vh;
    left: 0px;
    opacity: 10%;
  }
  .good-answer {
    height: 21.98vh;
    width: 43.96vh;
    // border-top: 1px white solid;
    //border-bottom-right-radius: 50%;
    //border-bottom-left-radius: 50%;
    position: absolute;
    top: 21.98vh;
    right: 0px;
    //background-color: white;
    opacity: 90%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    cursor: pointer;
    .material-icons {
      font-size: 12.31vh;
      color: $grey-light;
      margin: 0px;
      padding: 0px;
      position: absolute;
      top: 6.16vh;
    }
    h3 {
      position: absolute;
      top: 4.31vh;
      font-weight: 400;
      // right: 35px;
      color: white;
    }
  }

  .endgame {
    height: 18.47vh;
    width: 46.18vh;
    position: absolute;
    bottom: 0px;
    right: 0px;
    opacity: 80%;
    cursor: pointer;
    .material-icons {
      font-size: 8.62vh;
      color: $grey-user;
      margin: 0px;
      padding: 0px;
      position: absolute;
      top: 4.80vh;
      right: 2.09vh;

    }
    h3 {
      position: absolute;
      bottom: 0px;
      right: 5px;
      font-weight: 400;
      right: 4px;
      color: $grey-user;
      margin: 0px;
      padding: 0px;
    }
  }
}
