#display-song {
  width: 100vw;
  height: 36.94vh;
  position: absolute;
  top: 8.62vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  //background-color: $grey-light;
  border-radius: 10px;
  //border-bottom: 4px $grey-light solid;

  .pic-frame {
    width: 18.47vh;
    height: 18.47vh;
    position: absolute;
    top: 19.09vh;
  }

  .img-track {
    border-radius: 5px;
  }

  .cartouche-song {
    //width: 300px;
    display: flex;
    align-items: center;
    flex-direction: row;
    //justify-content: space-between;
    padding: 5px;
    //background-color: rgba(0, 0, 0, 0.1);
    //border-left: 1px $grey-medium solid;
  }

  .track {
    //width: 80px;
    // height: 60px;
    //background-color: $grey-medium;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  h1 {
    width: 100vw;
    color: white;
    font-weight: 400;
    font-size: 2.46vh;

    padding: 0.6vh;
    margin: 0px;
    background-color: $blue-riviera;
    //border-radius: 20px;
  }

  h2 {
    color: $blue-riviera;
    font-weight: 400;
    font-size: 2.46vh;
    margin: 0.6vh;
  }

  h3 {
    color: $grey-medium;
    font-weight: 400;
    font-size: 2.22vh;
    margin: 0px;
  }

  p {
    color: $grey-user;
    font-weight: 400;
    font-size: 1.97vh;
    text-align: left;
    margin: 0px 0px 0px 0.6vh;
    padding: 0px;
  }


  .material-icons {
    color: white;
    font-size: 2.95vh;
    margin: 0.6vh;
  }
}


