// Checkboxes design
.category-choices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start
}

.category-choice {
  background: white;
  width: 100px;
  opacity: 0.7;
  border-radius: 5px;
  img {
    height: 100px;
    width: 100px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    object-fit: cover;
  }

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
  color: black;
  opacity: 1;
  border: 2px solid white;
  }
}

.range-bar {
  margin: 0px;
  width: 250px;
  color: white;
  background-color: white;
}

datalist {
  display: true;
}
