// Checkboxes design
.category-choices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start
}

.category-choice {
  background: white;
  width: 112px;
  opacity: 0.8;
  border-radius: 5px;
  //border-left: 1px white solid;
  // flex: 0 0 30%;
  //text-align: center;
  // margin: 13px;
  // margin-bottom: 0;

  img {
    height: 112px;
    width: 112px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
  // background: $brand-primary;
  // background: red;
  color: black;
  opacity: 1;
  }
}

// img {
//   width: 100px;
// }

.range-bar {
  margin: 0px;
  width: 250px;
  color: white;
  background-color: white;
}

datalist {
  display: true;
}
