// Form creation design

// .form-post {
//   background: white;
//   padding: 20px;
//   border-radius: 5px;
//   h1 {
//     text-align: center;
//     font-weight: bold;
//     font-size: 25px;
//     color: #666666;
//     padding-top: 20px;
//   }
// }

// Checkboxes design
.category-choices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category-choice {
  background: #F4F4F4;
  padding: 20px;
  padding-bottom: 0;
  border-radius: 5px;
  opacity: .4;
  flex: 0 0 30%;
  text-align: center;
  margin: 13px;
  margin-bottom: 0;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
  // background: $brand-primary;
  // background: red;
  color: black;
  opacity: 1;
  }
}

// img {
//   width: 100px;
// }

.range-bar {
  width: 323px;
}
