#logo-and-name {
  height: 60.96vh;
  width: 31.40vh;
  position: absolute;
  top: 17vh;
//
}

.blur-filter {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0px;
  left: 0px;
  filter: blur(30px);
  margin: 0px;
  padding: 0px;
}

#enter {
  width: 100vw;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

 .top {
  width: 35vh;
  position: absolute;
  top: 38.00vh;
  text-align: center;

    h2 {
      font-family: 'Nunito', sans-serif;
      font-size: 2.95px;
      font-weight: 400;
      color: white;
      //margin-bottom: 15px;
    }

    p {
      font-family: 'Nunito', sans-serif;
      font-size: 2.46vh;
      color: black;
      margin-bottom: 0.6vh;
    }

    .btn-primary {
      padding: 10px;
      margin: 0vh 1.23vh 1.23vh 1.23vh;
      border-radius: 2.46vh;
      background-color: #adb5bd;
      border: 0.6vh white solid;
      opacity: 90%;
      width: 30vh;
    }
    a {
      color: black;
      font-weight: 700;
      font-size: 2.46vh;
    }
  }

  .bottom {
  width: 44.33vh;
  position: absolute;
  top: 37vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  }

  h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 2.95vh;
    font-weight: 400;
    color: white;
    margin-bottom: 1.84vh;
  }

  h3 {
    font-size: 3.20vh;
    font-weight: 700;
    color: $grey-light;
    margin-bottom: 1.23vh;
  }

  p {
    font-family: 'Nunito', sans-serif;
    font-size: 1.97vh;
    color: black;
    margin-bottom: 0.6vh;
  }

  input {
  font-size: 2.46vh;
  color: black;
  font-weight: 400;
  margin-bottom: 3.69vh;
  margin-left: 1.23vh;
  border-radius: 3.07vh;
  text-align: center;
  width: 30vh;
  }

  .submit-adjust {
    .btn-primary {
      padding: 1.23vh;
      margin: 4vh 1.23vh 1.23vh 1.23vh;
      border-radius: 2.46vh;
      background-color: #adb5bd;
      border: 0.6vh white solid;
      opacity: 90%;
      width: 30vh;
    }
    a {
      color: black;
      font-weight: 700;
      font-size: 20px;
    }
    input {
      font-size: 20px;
      margin-bottom: 0.6vh;
      color: black;
      font-weight: 700;
      margin-bottom: 0.6vh;
    }
  }
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.hidding {
  opacity: 0.3;
}


// ended part
#winner-page {
  height: 92.36vh;
  width: 100vw;
  position: absolute;
  top: 7.38vh;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  //background-color: white;

  .logo-end {
    height: 43.84vh;
    width: 45.07vh;
    position: absolute;
    top: 9.85vh;
  }

  .winner-is {
    position: absolute;
    top: 23.39vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-size: 2.95vh;
      font-weight: 400;
      color: black;
      margin-bottom: 2.46vh;
    }

    h2 {
      font-size: 6.89vh;
      font-weight: 400;
      color: white;
      margin-bottom: 2.46vh;
    }
  }

  .final-score {
    position: absolute;
    top: 55.41vh;

    .score {
      border-left: 1px white solid;
      margin: 0.6vh;
    }
  }

  .next-game {
    width: 70vw;
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 2.46vh;

    .btn-primary {
      padding: 1.23vh;
      margin: 4vh 1.23vh 1.23vh 1.23vh;
      border-radius: 2.46vh;
      background-color: #adb5bd;
      border: 5px white solid;
      opacity: 90%;
      width: 30vh;
    }

    a {
      color: black;
      font-weight: 700;
      font-size: 2.46vh;
    }

    h3 {
      text-align: center;
    }
  }
}


