#logo-and-name {
  height: 500px;
  width: 261px;
  position: absolute;
  top: 150px;
}

#enter {
  width: 375px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

 .top {
  width: 360px;
  position: absolute;
  top: 130px;
  padding: 5px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  //border: 1px white solid;

    h2 {
      font-family: 'Nunito', sans-serif;
      font-size: 24px;
      font-weight: bolder;
      color: white;
      margin-bottom: 20px;
    }

    p {
      font-family: 'Nunito', sans-serif;
      font-size: 24px;
      color: black;
      margin-bottom: 5px;
    }

    .btn-primary {
      padding: 10px;
      margin: 10px;
      border-radius: 20px;
      background-color: $grey-light;
      border: 5px white solid;
      opacity: 100%;
    }
    a {
      color: black;
      font-weight: bold;
    }
  }

  .bottom {
  width: 360px;
  position: absolute;
  top: 400px;
  padding: 5px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  //border: 1px white solid;
  }

    h2 {
      font-family: 'Nunito', sans-serif;
      font-size: 24px;
      font-weight: bolder;
      color: white;
      margin-bottom: 20px;
    }

    h3 {
      font-family: 'Nunito', sans-serif;
      font-size: 20px;
      color: $grey-light;
      margin-bottom: 5px;
    }

    p {
      font-family: 'Nunito', sans-serif;
      font-size: 16px;
      color: black;
      margin-bottom: 5px;
    }
    .btn-primary {
      padding: 10px;
      margin: 10px;
      border-radius: 20px;
      background-color: $grey-light;
      border: 5px white solid;
      opacity: 100%;
    }
    input {
      font-family: 'Nunito', sans-serif;
      font-size: 16px;
      margin-bottom: 5px;
      color: black;
      font-weight: bold;
      margin-bottom: 5px;
    }
}


.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.hidding {
  opacity: 0.3;
}


// ended part
#winner-page {
  height: 750px;
  width: 375px;
  position: absolute;
  top: 60px;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  //background-color: white;

  .logo-end {
    height: 356px;
    width: 366px;
    position: absolute;
    top: 80px;
  }

  .winner-is {
    position: absolute;
    top: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-size: 24px;
      font-weight: 400;
      color: $grey-light;
      margin-bottom: 20px;
    }

    h2 {
      font-size: 56px;
      font-weight: bolder;
      color: white;
      margin-bottom: 20px;
    }
  }

  .final-score {
    position: absolute;
    top: 450px;

    .score {
      border-left: 1px white solid;
      margin: 5px;
    }
  }

  .next-game {
    width: 200px;
    position: absolute;
    align-self: center ;
    bottom: 20px;

    .btn-primary {
      padding: 10px;
      margin: 10px;
      border-radius: 30px;
      background-color: $grey-light;
      border: 5px white solid;
      opacity: 100%;
    }

    a {
      color: black;
      font-weight: bold;
    }

    h3 {
      text-align: center;
    }
  }
}


