.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.navbar-abt {
  display: flex;
  justify-content: space-between;
  width: 97vw;
  height:6,46vh;
  position: absolute;
  top: 0px;
  padding: 5px;

    .blind-test {
      height: 7.20vh
    }
}
