#pending-player {
  width: 375px;
  height: 300px;
  position: absolute;
  top: 70px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  //background-color: $grey-light;
  border-radius: 10px;
  //border-bottom: 4px $grey-light solid;

  h1 {
    width: 375px;
    color: #1E2023;
    font-weight: 400;
    font-size: 32px;
    padding: 5px;
    margin: 0px;
    background-color: #D2D2D2;
    //border-radius: 20px;
  }

  h2 {
    color: $grey-medium;
    font-weight: 400;
    font-size: 20px;
    margin: 5px;
  }

  h3 {
    color: $grey-medium;
    font-weight: 400;
    font-size: 18px;
    margin: 0px;
  }

  p {
    color: white;
    font-weight: 400;
    font-size: px;
    text-align: left;
    margin: 0px 0px 0px 5px;
    padding: 0px;
  }

  h4 {
    color: white;
    margin-top: 34px;
    font-size: 32px;

  }
}

.display-user-players {
  display: flex;

}

#pending-player > span > h2 {
  margin-top: 40px;
  font-weight: bold;
}
