  .btn-nicolas {
      padding: 1.23vh;
      margin: 4vh 1.23vh 1.23vh 1.23vh;
      border-radius: 2.46vh;
      background-color: $grey-light;
      border: 0.6vh white solid;
      opacity: 90%;
      width: 70vw;
    }

    .btn-nicolas input {
      font-size: 20px;
      margin-bottom: 0.6vh;
      color: black;
      font-weight: 700;
      margin-bottom: 0.6vh;
    }

#pending-user {
  width: 375px;
  height: 300px;
  position: absolute;
  top: 70px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  //background-color: $grey-light;
  border-radius: 10px;
  //border-bottom: 4px $grey-light solid;

  h1 {
    width: 375px;
    color: white;
    font-weight: 400;
    font-size: 26px;
    padding: 5px;
    margin: 0px;
    background-color: $blue-riviera;
    //border-radius: 20px;
  }

  h2 {
    color: $blue-riviera;
    font-weight: 400;
    font-size: 20px;
    margin: 15px;
    margin-top: 0px;
    font-weight: lighter;
  }

  h3 {
    color: #1E2023;
    font-weight: 400;
    font-size: 18px;
    margin: 0px;
  }

  p {
    color: #1E2023;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    margin: 0px 0px 0px 5px;
    padding: 0px;
  }

  h4 {
    color: white;
    margin-top: 34px;
    font-size: 32px;

  }
}

.box-game {
  display: flex;
}

.box-game-pin {
  font-size: 60px;
  border: 1px solid #1E2023;
  border-radius: 5px;
  padding: 2px 5px;
  margin: 8px;
  width: 70px;
}

#pending-user > span > h2 {
  margin-top: 40px;
  font-weight:bold;
}
