.playing {
  font-family: "Nunito";
  color: #030303;
  text-align: center;
}

.buzz-group {
  margin-top: 70px;
}

#new_answer > input[type=image]:nth-child(2) {
  width: 400px;
  height: 400px;
}

.img-buzzer {
  height: 240px;
  width: 240px;
  padding: 20px;
  border: 1px solid #D2D2D2;
  border-radius: 50%;
  // background-color: #D2D2D2;
  opacity: 0.4;
  margin-top: 40px;
}

.btn-buzzer {
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  background-color: #D2D2D2;
  border: 5px white solid;
  opacity: 100%;
  width: 200px;
}

#game > div > strong > strong > div > div.scores > p:nth-child(1) {
  margin-bottom: 0;
}

#display-song-player {
  width: 375px;
  height: 300px;
  position: absolute;
  top: 70px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  //background-color: $grey-light;
  border-radius: 10px;
  //border-bottom: 4px $grey-light solid;

  .pic-frame {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 155px;
  }

  .img-track {
    border-radius: 5px;
  }

  .cartouche-song {
    //width: 300px;
    display: flex;
    align-items: center;
    flex-direction: row;
    //justify-content: space-between;
    padding: 5px;
    //background-color: rgba(0, 0, 0, 0.1);
    border-left: 1px white solid;
  }

  .track {
    //width: 80px;
    // height: 60px;
    //background-color: $grey-medium;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  h1 {
    width: 375px;
    color: #1E2023;
    font-weight: 400;
    font-size: 20px;
    padding: 5px;
    margin: 0px;
    background-color: #D2D2D2;
    //border-radius: 20px;
  }

  h2 {
    color: $grey-medium;
    font-weight: 400;
    font-size: 20px;
    margin: 5px;
  }

  h3 {
    color: $grey-medium;
    font-weight: 400;
    font-size: 18px;
    margin: 0px;
  }

  p {
    color: white;
    font-weight: 400;
    font-size: px;
    text-align: left;
    margin: 0px 0px 0px 5px;
    padding: 0px;
  }

  h4 {
    color: white;
    margin-top: 32px;
    font-size: 32px;

  }

  .material-icons {
    color: white;
    font-size: 24px;
    margin: 5px;
  }
}

#game > div.iphone-xs > div.master-control-area > a > img {
  border-radius: 50%;
      width: 345px;
    height: 345px;
    margin-left: 5px;
    margin-top: 5px;
}

.display-gif {
  border-radius: 50%;
  position: absolute;
  top: 380px;
  opacity: 100%;
  height: 300px;
  width: 300px;
  border: 2px rgba(50,50,50,0.75) solid;
  animation-iteration-count: infinite;
  .gif-buzzer {
    margin-top: 25px;
    margin-left: 25px;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    border: 2px rgba(100,100,100,0.75) solid;
    box-shadow:  0px 0px 15px 20px rgb(10,10,10);
  }
}
