.playing {
  font-family: "Nunito";
  color: #030303;
  text-align: center;
}

.buzz-group {
  margin-top: 8.62vh;
}

#new_answer > input[type=image]:nth-child(2) {
  width: 49.26vh;
  height: 49.26vh;
}

.img-buzzer {
  height: 29.55vh;
  width: 29.55vh;
  padding: 2.46vh;
  border: 1px solid #D2D2D2;
  border-radius: 50%;
  // background-color: #D2D2D2;
  opacity: 0.4;
  margin-top: 4.92vh;
}

.btn-buzzer {
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  background-color: #D2D2D2;
  border: 5px white solid;
  opacity: 100%;
  width: 24.63vh;
}

#game > div > strong > strong > div > div.scores > p:nth-child(1) {
  margin-bottom: 0;
}

#display-song-player {
  width: 100vw;
  height: 36.94vh;
  position: absolute;
  top: 8.62vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  //background-color: $grey-light;
  border-radius: 10px;
  //border-bottom: 4px $grey-light solid;

  .pic-frame {
    width: 18.47vh;
    height: 18.47vh;
    position: absolute;
    top: 19.08vh;
  }

  .img-track {
    border-radius: 5px;
  }

  .cartouche-song {
    //width: 300px;
    display: flex;
    align-items: center;
    flex-direction: row;
    //justify-content: space-between;
    padding: 5px;
    //background-color: rgba(0, 0, 0, 0.1);
    border-left: 1px $grey-medium solid;
  }

  .track {
    //width: 80px;
    // height: 60px;
    //background-color: $grey-medium;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  h1 {
    width: 100vw;
    color: #1E2023;
    font-weight: 400;
    font-size: 2.46vh;
    padding: 5px;
    margin: 0px;
    background-color: #D2D2D2;
    //border-radius: 20px;
  }

  h2 {
    color: $grey-medium;
    font-weight: 400;
    font-size: 2.46vh;
    margin: 5px;
  }

  h3 {
    color: $grey-medium;
    font-weight: 400;
    font-size: 2.21vh;
    margin: 0px;
  }

  p {
    color: white;
    font-weight: 400;
    font-size: px;
    text-align: left;
    margin: 0px 0px 0px 5px;
    padding: 0px;
  }

  h4 {
    color: white;
    margin-top: 4.18vh;
    font-size: 3.94vh;

  }

  .material-icons {
    color: white;
    font-size: 2.95vh;
    margin: 5px;
  }
}

#game > div.iphone-xs > div.master-control-area > a > img {
  border-radius: 50%;
      width: 42.48vh;
    height: 42.48vh;
    margin-left: 5px;
    margin-top: 5px;
}

.display-gif {
  border-radius: 50%;
  position: absolute;
  top: 46.79vh;
  opacity: 100%;
  height: 36.94vh;
  width: 36.94vh;
  border: 2px rgba(50,50,50,0.75) solid;
  animation-iteration-count: infinite;
  .gif-buzzer {
    margin-top: 3.07vh;
    margin-left: 3.07vh;
    border-radius: 50%;
    height: 30.78vh;
    width: 30.78vh;
    border: 2px rgba(100,100,100,0.75) solid;
    box-shadow:  0px 0px 15px 20px rgb(10,10,10);
  }
}
