.playing {
  font-family: "Nunito";
  color: #030303;
  text-align: center;
}

.rond-noir {
  background-color: black;
  border-radius: 50%;
  width: 345px;
  height: 345px;
  margin-left: 6px;
  margin-top: 5px;
}

#timer-next-song {
  font-size: 208px;
  color: white;
  text-align: center;
  align-items: center;
  width: 345px;
  height: 345px;
  padding: 18px;
}
