#timer-next-song {
  font-size: 208px;
  color: white;
  text-align: center;
  align-items: center;
  height: 300px;
  width: 300px;
}


#display-song-player > h1:nth-child(4) {
  margin-top: 10px;
}
